<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IAServlet</servlet-name>
    <servlet-class>MyServlet.IAServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ConnectServlet</servlet-name>
    <servlet-class>MyServlet.ConnectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TimerServlet</servlet-name>
    <servlet-class>MyServlet.TimerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetSensorDataServlet</servlet-name>
    <servlet-class>MyServlet.GetSensorDataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetRelayDataServlet</servlet-name>
    <servlet-class>MyServlet.GetRelayDataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ControlRelayServlet</servlet-name>
    <servlet-class>MyServlet.ControlRelayServlet</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>ConnectServlet</servlet-name>
    <url-pattern>/servlet/ConnectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TimerServlet</servlet-name>
    <url-pattern>/servlet/TimerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSensorDataServlet</servlet-name>
    <url-pattern>/servlet/GetSensorDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRelayDataServlet</servlet-name>
    <url-pattern>/servlet/GetRelayDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControlRelayServlet</servlet-name>
    <url-pattern>/servlet/ControlRelayServlet</url-pattern>
  </servlet-mapping>

</web-app>